mixin Btn(text, type, classCustom,icon="fa-light fa-arrow-right-long icon")
    if(!classCustom)
        if(type == "button")
            button.btn(type="submit",class=classCustom)
                span.inner #{text}
                i(class=icon)
        else
            a.btn(href="",class=classCustom)
                span.inner #{text}
                i(class=icon)
    else 
        if(type == "button")
            button.btn(type="submit",class=classCustom)
                span.inner #{text}
                i(class=icon)
        else
            a.btn(href="", class=classCustom)
                span.inner #{text}
                i(class=icon)
mixin PageNumber 
    ul.page-numbers
        li 
            a.prev.page-numbers(href="")
                i.fa.fa-angle-left
        li
            span.page-numbers.current   
                | 1
        li
            a.page-numbers(href="")   
                | 2
        li 
            span.page-numbers.dot 
                |...
        li
            a.page-numbers(href="")   
                | 10
        li 
            a.next.page-numbers(href="")
                i.fa.fa-angle-right
mixin breadCrumb(arr)
  .breadcrumb 
      .container
         ul.breadcrumb-list
            li.breadcrumb-item(data-aos="fade-right")
               a.breadcrumb-link(href="")
                  +img("ic-home.svg")
            each txt in arr
               li.breadcrumb-item(data-aos="fade-right")
                  a.breadcrumb-link(href="") #{txt}
mixin pagination(classCustom)
    .swiper-pagination(class=classCustom)

mixin CountDown(time,customClass)
   .countDownJs(class= customClass)
      .countdown(data-time=time) 
         .countdown-it.date
         .countdown-it.hour
         .countdown-it.minute
         .countdown-it.second
mixin Count()
   .count 
      .count-btn.count-minus 
         i.fas.fa-minus.icon
      input(type="text", class="count-input", max="999", min="0", value="1", hidden)
      p.count-number 1
      .count-btn.count-plus 
         i.fas.fa-plus.icon
mixin SwiperControl(customClass)
    .swiper-control(class= customClass) 
      .swiper-control-btn.swiper-prev 
          i.fa-light.fa-arrow-left
      .swiper-control-btn.swiper-next 
          i.fa-light.fa-arrow-right
mixin Swiper(customClass)
   .swiper-container 
      .swiper.rows 
         .swiper-wrapper 
            block
mixin img(name)
  img(src="./assets/images/" + name, alt="")
mixin popup(classCustom="",id="")
   .popup(class=classCustom data-popup-id= id)
      .popup-overlay
      .popup-main
         .popup-main-wrapper
            .popup-over
               .popup-wrapper
                  block
         .popup-close
            i.fas.fa-times.icon
mixin title(txt,text,classCustom)
      .head(class=classCustom)
         .txt #{txt}
         h2.t-title.titleAni 
            | #{text}
mixin Checker(type,shape,text,classCustom,name,num)
   if (shape == "circle")
      label.checker(class=classCustom) 
         input(type=type, name=name)
         span.circle 
         span.txt #{text}
            if(num)
               span.num #{num}
   if (shape == "checkbox") 
      label.checker(class=classCustom) 
         input(type=type , name=name)
         span.sqr 
         span.txt #{text}
            if(num)
               span.num #{num}
   if (shape == "tag")
      label.checker(class=classCustom) 
         input(type=type, name=name)
         span.txt #{text}
            if(num)
               span.num #{num}
mixin news(index)
   .news-it 
      .b-img 
         a(href="").inner
            +img(`news-img (${index+1}).jpg`)
         span.icon-link
            i.fa-light.fa-arrow-right
      .b-ctn 
         .b-top 
            span.txt 22/01/2024
         .b-gr
            h3.t-text 
               a(href="") Breaking into Medical Billing & Coding: A Step-by-Step Guide
mixin Lang()
  .hd-lg 
    .hd-lg-item 
      +img("ic-vn.svg")
      span.txt Tiếng việt
      span.ic
        i.fas.fa-chevron-down
    .hd-lg-drop 
      a(href="").hd-lg-item 
        +img("ic-vn.svg")
        span.txt English
mixin rse()
   .rse
      .container 
         .rse-wrap 
            .rse-text 
               span.txt Tìm khóa học theo độ tuổi và nhu cầu
            .rse-panel 
               .rse-box.rse-old
                  span.icon 
                     +img("rse-old.svg")
                  .b-select
                     select(name="" data-placeholder="Độ tuổi").re-select-main.re-select-main-old
                        option(value="") 
                        option(value="7-12")  7- 12 tuổi
                        option(value="13-18")  13- 18 tuổi
                        option(value="19-25")  19- 25 tuổi
                        option(value="26-35")  26- 35 tuổi
               .rse-box.rse-course
                  span.icon 
                     +img("rse-course.svg")
                  .b-select 
                     select(name="" data-placeholder="Chương trình học").re-select-main.re-select-main-course
                        option(value="")
                        option(value="tieng-anh-be")  Tiếng Anh cho bé
                        option(value="tieng-anh-thieu-nien")  Tiếng Anh thiếu niên
                        option(value="tieng-anh-ielts-sat")  Tiếng Anh luyện thi IELTS, SAT
               .rse-btn 
                  +Btn("Tìm kiếm","button","second")
            .rse-ic 
               +img("rse-ic.gif")
mixin cn-box()
   .cn-box.scroll-hide
      .container  
         .cn-box-wrap
            .cn-box-item.iwt 
               span.icon 
                  +img("cn-box-ic (1).svg")
               span.txt TƯ VẤN NGAY
            .cn-box-item.iwt 
               span.icon 
                  +img("cn-box-ic (2).svg")
               span.txt KHÓA HỌC
mixin like()
   .heart-container.likeJs
      .svg-container
         svg.svg-outline(viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
            path(d="M20.1028 12.5717L12.6028 19.9997L5.10284 12.5717C4.60815 12.0903 4.21848 11.5117 3.95839 10.8723C3.69829 10.2329 3.5734 9.54664 3.59158 8.85662C3.60975 8.1666 3.7706 7.48782 4.064 6.86303C4.35739 6.23823 4.77698 5.68094 5.29633 5.22627C5.81568 4.77159 6.42355 4.42938 7.08165 4.22117C7.73976 4.01296 8.43385 3.94327 9.12021 4.01649C9.80657 4.08971 10.4703 4.30425 11.0697 4.64659C11.6691 4.98894 12.1911 5.45169 12.6028 6.00569C13.0164 5.45571 13.539 4.99701 14.1379 4.65829C14.7369 4.31958 15.3993 4.10814 16.0838 4.03721C16.7682 3.96628 17.4599 4.03739 18.1156 4.24608C18.7713 4.45477 19.3769 4.79656 19.8944 5.25005C20.4119 5.70354 20.8303 6.25897 21.1233 6.88158C21.4163 7.50419 21.5776 8.18057 21.5971 8.8684C21.6167 9.55622 21.4941 10.2407 21.237 10.8789C20.9798 11.5172 20.5937 12.0955 20.1028 12.5777" fill="#fff" stroke="#F05B64" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
         svg.svg-filled(viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
            path(path d="M20.1028 12.5717L12.6028 19.9997L5.10284 12.5717C4.60815 12.0903 4.21848 11.5117 3.95839 10.8723C3.69829 10.2329 3.5734 9.54664 3.59158 8.85662C3.60975 8.1666 3.7706 7.48782 4.064 6.86303C4.35739 6.23823 4.77698 5.68094 5.29633 5.22627C5.81568 4.77159 6.42355 4.42938 7.08165 4.22117C7.73976 4.01296 8.43385 3.94327 9.12021 4.01649C9.80657 4.08971 10.4703 4.30425 11.0697 4.64659C11.6691 4.98894 12.1911 5.45169 12.6028 6.00569C13.0164 5.45571 13.539 4.99701 14.1379 4.65829C14.7369 4.31958 15.3993 4.10814 16.0838 4.03721C16.7682 3.96628 17.4599 4.03739 18.1156 4.24608C18.7713 4.45477 19.3769 4.79656 19.8944 5.25005C20.4119 5.70354 20.8303 6.25897 21.1233 6.88158C21.4163 7.50419 21.5776 8.18057 21.5971 8.8684C21.6167 9.55622 21.4941 10.2407 21.237 10.8789C20.9798 11.5172 20.5937 12.0955 20.1028 12.5777" fill="#F05B64")
         svg.svg-celebrate(width='100' height='100' xmlns='http://www.w3.org/2000/svg')
            polygon(points='10,10 20,20')
            polygon(points='10,50 20,50')
            polygon(points='20,80 30,70')
            polygon(points='90,10 80,20')
            polygon(points='90,50 80,50')
            polygon(points='80,80 70,70')
mixin card-gv()
   section.sec-smem.ss-pd-b
      .container 
         .smem.slideSwLoop
            .smem-wrap
               .smem-head.mb-24
                  .smem-pos
                     +title("ĐẰNG SAU HỌC VIÊN XUẤT SẮC LÀ","ĐỘI NGŨ SƯ PHẠM ƯU TÚ","center")
                  .b-gr 
                     .iwt 
                        span.icon 
                           +img("smem-head-ic (1).svg")
                        span.t-gr 
                           span.txt 100% Chứng chỉ
                           span.text giảng dạy quốc tế
                     .iwt 
                        span.icon 
                           +img("smem-head-ic (2).svg")
                        span.t-gr 
                           span.txt Tốt nghiệp top 3%
                           span.text thị trường
               .smem-block 
                  .smem-slider
                     .b-sw.posi-rl
                        +SwiperControl("posi midle")
                        +Swiper()
                           each i,index in Array(6)
                              .swiper-slide.col.col-4
                                 .smem-item.popup-open(data-popup="popup-teach-id")
                                    .b-inner
                                       .b-head 
                                          span.txt Quản lý Chương trình
                                          span.t-name NGUYỄN THẢO ANH
                                          span.txt Thạc si University of Birmingham
                                       .b-image 
                                          .inner 
                                             +img("smem-img (1).png")
                                       .b-pos 
                                          .dcor 
                                             +img("smem-dc.svg")
                                          span.ic-logo 
                                             +img("smem-logo.png")
                                          span.txt IELTS 8.5
                     +pagination()
mixin card-sv()
   section.sec-stu.ss-pd-b.slideStu
      .container 
         .stu
            .stu-wrap
               .stu-head
                  .head.t-center
                     .txt 
                        | CƠ HỘI CHO 
                        span.fw-7 60K+ 
                        | HỌC VIÊN
                     h2.t-title ĐẾN MỌI GIẢNG ĐƯỜNG DANH GIÁ
      .stu-wrapper
         .b-gr.d-flex.a-center.j-center.stu-tags
            a(href="").b-tag.active IELTS
            a(href="").b-tag CAMBRIDGE
            a(href="").b-tag SAT
            a(href="").b-tag DU HỌC
         .stu-block
            .stu-slider
               +SwiperControl("stu-control")
               .stu-main
                  .b-sw 
                     +Swiper()
                        each i,index in Array(8)
                           .swiper-slide.col
                              .stu-item.gallery
                                 .b-img.gItem(data-src=`./assets/images/bangdiem.jpg`) 
                                    .inner 
                                       +img(`stu-img (${index + 1}).jpg`)
                                    .t-tag 
                                       span.txt IELTS
                                       span.num 1480
                                 .b-content 
                                    span.t-name BÙI BẢO NGỌC #{index + 1}
                                    span.text THPT Nguyễn Thượng Hiền
                  +pagination("stu-pagi")
mixin card-ph()
   section.sec-fm.ss-pd-b.slideSwLoop
      .container 
         .fm
            .fm-wrap 
               .fm-head.mb-40
                  +title("KHÔNG THỂ THIẾU SỰ ĐỒNG HÀNH","CỦA PHỤ HUYNH & HỌC SINH","center")
            .fm-block
               .fm-slider
                  .b-sw.posi-rl
                     +SwiperControl("posi midle")
                     +Swiper()
                        each i,index in Array(5)
                           .swiper-slide.col
                              .fm-item
                                 a( class="inner" data-fancybox="" href="https://youtu.be/W3UfiS1QN3A?si=H8lPcx9mj11CcFNp")
                                    +img(`fm-img (${index + 1}).jpg`)
                                 span.icon-play
                                    +img("ic-play.svg")
                  +pagination("fm-pagi")
mixin faq()
   section.sec-faq.ss-pd-b
      .container 
         .faq.collapse-block
            .faq-wrap 
               .faq-head.t-center
                  +title("","CÂU HỎI THƯỜNG GẶP")
               .faq-block 
                  .faq-panel 
                     .faq-list 
                        -
                           var array = [
                              {
                                 txt:"Khóa học luyện thi IELTS dành cho ai"
                              },
                               {
                                 txt:"Khóa học IELTS tại Yola có giáo trình như thế nào ?"
                              },
                               {
                                 txt:"Thời gian và hình thức học tại Yola như thế nào ?"
                              },
                               {
                                 txt:"Đội ngũ giáo viên tại Yola là ai ?"
                              },
                               {
                                 txt:"Yola đánh giá học viên trong suốt khóa học IELTS  bằng cách nào"
                              },
                               {
                                 txt:"Học viên có được hỗ trợ nếu không đạt mục tiêu IELTS đề ra không ?"
                              },
                           ]
                        each val in array
                           .faq-it.collapse-item
                              .b-head.collapse-head
                                 h3.t-text #{val.txt}
                                 span.icon 
                                    i.fa-light.fa-chevron-down
                              .b-des.collapse-body
                                 .mona-content 
                                    p 
                                       | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
mixin form()
   .sec-sfm 
      .container 
         .sfm 
            .sfm-dc 
               +img("rse-ic.gif")
            .sfm-wrap 
               .sfm-row.row 
                  .col.col-6 
                     .sfm-panel 
                        +title("VƯƠN TỚI","ĐỈNH CAO HỌC THUẬT TỪ HÔM NAY","white")
                  .col.col-6
                     .sfm-form 
                        .txt.mb-24.c-white Để lại tin nhắn cho chúng tôi
                        .b-form 
                           form(action="")
                              .form-list.row 
                                 .col.form-ip 
                                    input(type="text" placeholder="Họ và tên")
                                 .col.form-ip
                                    input(type="text" placeholder="Số điện thoại")
                                 .col.form-ip
                                    .b-select 
                                       select(name="").re-select-main
                                          option(value="")  Chọn khóa học muốn đăng ký
                                          option(value="")  Tiếng anh cho bé
                                          option(value="")  Tiếng anh thiếu niên
                                          option(value="")  Tiếng anh luyện thi IELTS, SAT
                                 .col.form-ip
                                    +Btn("Gửi tin nhắn","button","m-left")
mixin news(index)
   .news-it 
      .b-img 
         .inner 
            +img(`news-img${index+1}.jpg`)
      .b-ctn 
         .b-head
            span.b-tag 
               | SU KIEN
            .t-time.iwt 
               span.icon 
                  +img("ic-date.svg")
               span.c-text 21/06/2025
         .b-bot 
            h3.t-text 
               a(href="") MỪNG KHAI TRƯƠNG YOLA PHAN ĐĂNG LƯU TẶNG HỌC BỔNG TĂNG TỐC ANH NGỮ ĐẾN 34%
            .t-des
               p 
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the